language: python

os: linux

python:
  - "2.6"
  - "2.7"
  - "3.4"
  - "3.6"

before_install:
  - gem install fpm
  - gem install package_cloud
  - sudo apt-get install rpm

install: pip install --upgrade -r requirements.txt && python setup.py install

script:
  - make test
  - make lint
  - make ipaddress_rpm ipaddress_rpm_upload
  - make netutils_linux_rpm netutils_linux_rpm_upload
